<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davisosa.structura"
    android:installLocation="auto">

    <application
        android:name=".Structura"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Structura">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Structura.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LLActivity"
            android:label="@string/title_linked_list"
            android:theme="@style/Theme.Structura.LLActivity"/>

        <activity
            android:name=".activities.BSTActivity"
            android:label="@string/title_bst"
            android:theme="@style/Theme.Structura.BSTActivity"/>

    </application>
</manifest>